# Archivos de compilación y temporales
.gradle/
build/
/*/build/
bin/

# Configuración de IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# Archivos de configuración local (¡IMPORTANTE!)
local.properties
.kotlin/

# Archivos del sistema
.DS_Store
Thumbs.db

# Errores tipográficos detectados en tus carpetas
.gitnore
